*{
    margin: 0;
    padding: 0;
    outline: none;
    scroll-behavior: smooth;
}
.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #253849;
    --bs-btn-border-color: #253849;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #2e3133;
    --bs-btn-hover-border-color: #253849;
    --bs-btn-focus-shadow-rgb: 130,138,145;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #253849;
    --bs-btn-active-border-color: #253849;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #253849;
    --bs-btn-disabled-border-color: #253849;
}
.modal{
    --bs-modal-width : 80% !important;
}
.text-bg-primary{
    background-color: #253849 !important;
}
.customize span{
    cursor: pointer;
}
.customize i{
    padding: 3px;
    border-radius: 3px;
    border: 2px solid #253849;
}
.filters__name div{
    width: 100%;
    border-radius: 5px;
    padding: 5px 20px;
    background-color: #c9c9c9;
    text-transform: capitalize;
}
.filters__name div{
    cursor: pointer;
}

@media (min-width: 576px)
{
    .modal-dialog.mmw {
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
    }

}
.anas{
    width: 300px;
    max-height: 70px;
    overflow: hidden;
    padding: 10px;
    color: #c9c9c9;
}
.ammer{
    width: 300px;
    max-height: 70px;
    overflow: hidden;
    padding: 10px;
    color: #c9c9c9;
}